# Server Configuration
PORT=5000
NODE_ENV=development
SESSION_SECRET=super_secret_session_key_123

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/reachinbox_db?schema=public"

# Redis Configuration (BullMQ & Rate Limiter)
# Use REDIS_URL for Upstash or remote Redis, otherwise fall back to REDIS_HOST and REDIS_PORT
REDIS_URL="rediss://default:your_password@your-instance.upstash.io:6379"
REDIS_HOST=localhost
REDIS_PORT=6380


# Elasticsearch Configuration
ELASTICSEARCH_URL=https://your-elasticsearch-instance.es.us-east4.gcp.elastic.cloud:443
ELASTICSEARCH_API_KEY=your_api_key_here
ELASTICSEARCH_NODE=http://localhost:9200

# Worker & Queue Settings
WORKER_CONCURRENCY=5
MIN_DELAY_BETWEEN_EMAILS_MS=2000

# Rate Limiting Rules (Emails / Hour)
MAX_EMAILS_PER_HOUR=200
MAX_EMAILS_PER_HOUR_PER_SENDER=50

# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# Slack Webhook URL for Rate Limit Alerts
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/WEBHOOK/URL
